services:
  app:
    image: louislam/uptime-kuma:2-slim
    environment:
      - UPTIME_KUMA_HIDE_LOG=debug_monitor,info_monitor
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-external}
      - CADDY_PORT=${CADDY_PORT:-3001}
      - CADDY_DNS_PROVIDER=${CADDY_DNS_PROVIDER:-}
    restart: unless-stopped
    volumes:
      - app_data:/app/data
    labels:
      - ofelia.restart=true
      - ofelia.enabled=true
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.schedule=${BACKUP_CRON_SCHEDULE:-0 0 3 * * *}"
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.command=sh -c 'sqlite3 /app/data/kuma.db \".backup /app/data/kuma.db.backup\"'"
    networks:
      - caddy

volumes:
  app_data:

networks:
  caddy:
